"*":
  core:
    audioBeep: false
    automaticallyUpdate: false
    disabledPackages: [
      "autocomplete-atom-api"
      "autocomplete-plus"
      "markdown-preview"
    ]
    telemetryConsent: "no"
  editor:
    invisibles: {}
    softWrap: true
    tabLength: 4
  "exception-reporting":
    userId: "34f61802-f6ad-446e-b28c-9224ca272097"
  "spell-check":
    locales: [
      "en-US"
    ]
  welcome:
    showOnStartup: false
  wordcount: {}
