"*":
  core:
    audioBeep: false
    automaticallyUpdate: false
    disabledPackages: [
      "autocomplete-atom-api"
      "autocomplete-plus"
      "markdown-preview"
      "github"
      "git-diff"
    ]
    telemetryConsent: "no"
  editor:
    invisibles: {}
    softWrap: true
    tabLength: 4
  "exception-reporting":
    userId: "34f61802-f6ad-446e-b28c-9224ca272097"
  "spell-check":
    addKnownWords: true
    knownWords: [
      "internet"
      "tl;dr"
      "Instagram"
      "Saharian"
      "costed"
      "GBP"
      "Sibiu"
      "Iulia"
      "smartphone"
      "smartphones"
      "online"
      "PDF"
      "barcode"
      "DSLRs"
      "NHS"
      "dodgy"
      "Wizz"
      "Luton"
      "Gamification"
      "gamification"
      "YouTube"
      "unsubscribe"
    ]
    locales: [
      "en-US"
    ]
  welcome:
    showOnStartup: false
  wordcount:
    currencysymbol: "min"
    showprice: true
    wordprice: "0.003773585"
